# 1. Surveiller App 1
define host {
    use                     linux-server
    host_name               App_Rembourse_1
    address                 app_rembourse_1
    check_command           check_ping!100.0,20%!500.0,60%
}

# 2. Surveiller App 2
define host {
    use                     linux-server
    host_name               App_Rembourse_2
    address                 app_rembourse_2
    check_command           check_ping!100.0,20%!500.0,60%
}

# 3. Surveiller la Base de Données
define host {
    use                     linux-server
    host_name               MySQL_Database
    address                 db_rembourse
    check_command           check_ping!100.0,20%!500.0,60%
}

# 4. Vérifier si le port HTTP est ouvert sur App 1
define service {
    use                     generic-service
    host_name               App_Rembourse_1
    service_description     HTTP_Port
    check_command           check_http
}