# ==========================================
# LES HÔTES (On vérifie si les conteneurs sont "vivants")
# ==========================================

define host {
    use                     linux-server
    host_name               app_rembourse_1
    address                 ma_gestion_app_rembourse_1
    check_command           check_ping!100.0,20%!500.0,60%
}

define host {
    use                     linux-server
    host_name               app_rembourse_2
    address                 ma_gestion_app_rembourse_2
    check_command           check_ping!100.0,20%!500.0,60%
}

define host {
    use                     linux-server
    host_name               nginx_lb
    address                 ma_gestion_nginx_lb
    check_command           check_ping!100.0,20%!500.0,60%
}

# ==========================================
# LES SERVICES (On vérifie si le TRAVAIL est bien fait)
# ==========================================

# Test du site Web via le Load Balancer
define service {
    use                     generic-service
    host_name               nginx_lb      # Lié à l'hôte nginx_lb
    service_description     Vérification URL Health
    check_command           check_http!-p 80 -u /health.php
}

# Test de la base de données (sur l'instance 1)
define service {
    use                     generic-service
    host_name               app_rembourse_1 # Lié à l'hôte instance 1
    service_description     Lien Base de Donnees MySQL
    check_command           check_tcp!3306
}